body {
  margin: 0;
  font-family: sans-serif;
  background: #f0f0f0;
}

.fill {
  height: 100vh;
  background: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(50px); 
  animation: slideFadeIn 0.8s forwards;
  margin-bottom: 10px;
  border-radius: 12px;
}


@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


